In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls -l ../data/

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
data = pd.read_excel("../data/emm_queries.xlsx", sheetname=None)

In [4]:
water_df = pd.DataFrame(data['Water problems'])
waste_df = pd.DataFrame(data[ 'Waste problems'])
sewage_df = pd.DataFrame(data['Sewerage problems'])
electric_df = pd.DataFrame(data['Electricity problems'])
traffic_df = pd.DataFrame(data['Traffic lights problems'])
street_df = pd.DataFrame(data['Street Lighting Fault'])
road_df = pd.DataFrame(data['Road related problems'])

In [5]:
#dfs = ['water_df', 'waste_df', 'sewage_df', 'electric_df', 'traffic_df', 'street_df', 'road_df']
dfs = [water_df, waste_df, sewage_df, electric_df, traffic_df, street_df, road_df]

In [6]:
waste_df.head()

,DateSubmitted,Column16377,date_created,town_name,Column16376,defect_type,reported_by,tel_num,emailP_add,Column1,...,Column16366,Column16367,Column16368,Column16369,Column16370,Column16371,Column16372,Column16373,Column16374,Column16375
0,2014-12-26 06:32:41,NaN,2014/12/26,SPRINGS,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-26 09:32:01,NaN,2014/12/26,Primrose,NaN,Illegal dumping,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-26 09:47:38,NaN,2014/12/26,Boksburg,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-26 11:07:12,NaN,2014/12/26,Kempton Park,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-27 13:03:44,NaN,2014/12/27,Bedfordview,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
count = 1
water_defects = ['leaking tap', 'burst pipe', 'cutoff', 'shortages']
sewage_defects = ['leaking toilet', 'burst pipe', 'blocked']
electric_defects = ['power outage', 'mulfunctions', 'no electricity']

In [8]:
def change_defect_col_bame(df):
    return df.rename(columns={'defect_type':'DEFECT'}, inplace=True)

In [9]:
electric_df.head()

,DateSubmitted,next_page,Column16374,date_created,town_name,Street Address,Column1,Column16375,Column16376,Column16377,...,Column16364,Column16365,Column16366,Column16367,Column16368,Column16369,Column16370,Column16371,Column16372,Column16373
0,2014-12-24 00:10:58,NaN,NaN,2014/12/24,Boksburg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-24 01:04:59,NaN,NaN,2014/12/24,Pomona,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-24 07:25:05,NaN,NaN,2014/12/24,germiston,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-24 07:57:36,NaN,NaN,2014/12/24,Germiston,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-24 08:34:53,NaN,NaN,2014/12/24,Edenvale,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
water_df.head()

,Column16374,next_page,Column16380,date_created,Street Address,town_name,Column1,Column2,Column16375,Column16376,...,Column16364,Column16365,Column16366,Column16367,Column16368,Column16369,Column16370,Column16371,Column16372,Column16373
0,2014-12-24 07:32:18,NaN,NaN,2014/12/24,NaN,edenvale,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-24 08:40:28,NaN,NaN,2014/12/24,NaN,Tembisa Kempton Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-24 09:14:56,NaN,NaN,2014/12/24,NaN,Alberton,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-24 09:40:10,NaN,NaN,2014/12/24,NaN,Alberton,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-24 10:29:39,NaN,NaN,2014/12/24,NaN,Kempton park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
waste_df.head()

,DateSubmitted,Column16377,date_created,town_name,Column16376,defect_type,reported_by,tel_num,emailP_add,Column1,...,Column16366,Column16367,Column16368,Column16369,Column16370,Column16371,Column16372,Column16373,Column16374,Column16375
0,2014-12-26 06:32:41,NaN,2014/12/26,SPRINGS,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-26 09:32:01,NaN,2014/12/26,Primrose,NaN,Illegal dumping,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-26 09:47:38,NaN,2014/12/26,Boksburg,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-26 11:07:12,NaN,2014/12/26,Kempton Park,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-27 13:03:44,NaN,2014/12/27,Bedfordview,NaN,Other,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
for df in dfs:
    df.dropna(axis=1, how='all', inplace=True)
    df.drop_duplicates(inplace=True)
    
    if count == 1:
        df['CATEGORY'] = 'WATER'
        df['DEFECT'] = None
        df.DEFECT = df.DEFECT.transform(lambda x: str(x).replace('None', water_defects[np.random.randint(0, 4)]))
    elif count == 2:
        df['CATEGORY'] = 'WASTE'
        df = change_defect_col_bame(df)
    elif count == 3:
        df['CATEGORY'] = 'SEWAGE'
        df['DEFECT'] = None
        df.DEFECT = df.DEFECT.transform(lambda x: str(x).replace('None', sewage_defects[np.random.randint(0, 3)]))
    elif count == 4:
        df['CATEGORY'] = 'ELECTRIC'
        df['DEFECT'] = None
        df.DEFECT = df.DEFECT.transform(lambda x: str(x).replace('None', electric_defects[np.random.randint(0, 3)]))
    elif count == 5:
        df['CATEGORY'] = 'TRAFFIC'
#        df.rename({'defect_type':'DEFECT'}, inplace=True)
        df = change_defect_col_bame(df)
    elif count == 6:
        df['CATEGORY'] = 'STREET'
#        df.rename({'defect_type':'DEFECT'}, inplace=True)
        df = change_defect_col_bame(df)
    else:
        df['CATEGORY'] = 'ROAD'
#        df.rename({'defect_type':'DEFECT'}, inplace=True)
        df = change_defect_col_bame(df)
    
    count += 1

In [13]:
street_df.head()

,DateSubmitted,date_created,town_name,Street Address,DEFECT,CATEGORY
0,2014-12-24 08:54:43,2014/12/24,dalpark ext 6,NaN,Not working,STREET
1,2014-12-24 10:16:12,2014/12/24,brakpan,NaN,Always on,STREET
2,2014-12-24 12:48:57,2014/12/24,Primrose Germiston,NaN,Whole street not working,STREET
3,2014-12-24 14:30:41,2014/12/24,boksburg,NaN,Not working,STREET
4,2014-12-24 21:50:18,2014/12/24,witfield boksburg,NaN,Not working,STREET

In [14]:
xls_writer = pd.ExcelWriter("../data/emm_quies_proc.xlsx", engine='xlsxwriter')

In [15]:
count = 0
for df in dfs:
    df.to_excel(xls_writer, sheet_name=str(count), index=False, header=True)
    count += 1

In [16]:
xls_writer.save()

In [17]:
from bokeh.core.properties import value
from bokeh.io import show, output_file
from bokeh.plotting import figure

In [18]:
output_file("visuals.html")

In [19]:
street_df.head()

,DateSubmitted,date_created,town_name,Street Address,DEFECT,CATEGORY
0,2014-12-24 08:54:43,2014/12/24,dalpark ext 6,NaN,Not working,STREET
1,2014-12-24 10:16:12,2014/12/24,brakpan,NaN,Always on,STREET
2,2014-12-24 12:48:57,2014/12/24,Primrose Germiston,NaN,Whole street not working,STREET
3,2014-12-24 14:30:41,2014/12/24,boksburg,NaN,Not working,STREET
4,2014-12-24 21:50:18,2014/12/24,witfield boksburg,NaN,Not working,STREET

In [20]:
pd.unique(street_df.DEFECT)

array(['Not working', 'Always on', 'Whole street not working', 'Damaged',
       'Switching on and off all the time', 'Fallen streetlight pole',
       'Live cable on the ground'], dtype=object)

In [21]:
street_df['month_submitted'] = street_df.DateSubmitted.transform(lambda x: str(x).split('-')[1])

In [22]:
p = figure(x_range=pd.unique(list(street_df.month_submitted)), 
           plot_height=350, 
           title="Defect Type by Month", 
           toolbar_location=None, 
           tools="")

p.vbar_stack(list(pd.unique(street_df.DEFECT)), 
             x='fruits', 
             width=0.9, 
             source=street_df, legend=[value(x) for x in list(pd.unique(street_df.DEFECT))])

In [23]:
p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.axis.minor_tick_line_color = None
p.outline_line_color = None
p.legend.location = "top_left"
p.legend.orientation = "horizontal"