In [1]:
import pandas as pd
import numpy as np

In [ ]:
!ls -l ../data/

In [2]:
raw_data = pd.read_excel("../data/emm_queries.xlsx", sheetname=None, parse_cols="A:K")

In [3]:
water_df = pd.DataFrame(raw_data['Water problems'])
waste_df = pd.DataFrame(raw_data[ 'Waste problems'])
sewage_df = pd.DataFrame(raw_data['Sewerage problems'])
electric_df = pd.DataFrame(raw_data['Electricity problems'])
traffic_df = pd.DataFrame(raw_data['Traffic lights problems'])
street_df = pd.DataFrame(raw_data['Street Lighting Fault'])
road_df = pd.DataFrame(raw_data['Road related problems'])

In [4]:
#dfs = ['water_df', 'waste_df', 'sewage_df', 'electric_df', 'traffic_df', 'street_df', 'road_df']
dfs = [water_df, waste_df, sewage_df, electric_df, traffic_df, street_df, road_df]

In [6]:
waste_df.head()

,DateSubmitted,Column16377,date_created,town_name,Column16376,defect_type,reported_by,tel_num,emailP_add,Column1,Column2
0,2014-12-26 06:32:41,NaN,2014/12/26,SPRINGS,NaN,Other,NaN,NaN,NaN,NaN,NaN
1,2014-12-26 09:32:01,NaN,2014/12/26,Primrose,NaN,Illegal dumping,NaN,NaN,NaN,NaN,NaN
2,2014-12-26 09:47:38,NaN,2014/12/26,Boksburg,NaN,Other,NaN,NaN,NaN,NaN,NaN
3,2014-12-26 11:07:12,NaN,2014/12/26,Kempton Park,NaN,Other,NaN,NaN,NaN,NaN,NaN
4,2014-12-27 13:03:44,NaN,2014/12/27,Bedfordview,NaN,Other,NaN,NaN,NaN,NaN,NaN

In [7]:
count = 1
water_defects = ['leaking tap', 'burst pipe', 'cutoff', 'shortages']
sewage_defects = ['leaking toilet', 'burst pipe', 'blocked']
electric_defects = ['power outage', 'mulfunctions', 'no electricity']

In [8]:
def change_defect_col_bame(df):
    return df.rename(columns={'defect_type':'DEFECT'}, inplace=True)

In [13]:
electric_df.head()

         DateSubmitted date_created  town_name  CATEGORY          DEFECT
0  2014-12-24 00:10:58   2014/12/24   Boksburg  ELECTRIC    mulfunctions
1  2014-12-24 01:04:59   2014/12/24     Pomona  ELECTRIC  no electricity
2  2014-12-24 07:25:05   2014/12/24  germiston  ELECTRIC  no electricity
3  2014-12-24 07:57:36   2014/12/24  Germiston  ELECTRIC    mulfunctions
4  2014-12-24 08:34:53   2014/12/24   Edenvale  ELECTRIC  no electricity

In [12]:
water_df.head()

,Column16374,date_created,Street Address,town_name,CATEGORY,DEFECT
0,2014-12-24 07:32:18,2014/12/24,NaN,edenvale,WATER,leaking tap
1,2014-12-24 08:40:28,2014/12/24,NaN,Tembisa Kempton Park,WATER,shortages
2,2014-12-24 09:14:56,2014/12/24,NaN,Alberton,WATER,cutoff
3,2014-12-24 09:40:10,2014/12/24,NaN,Alberton,WATER,leaking tap
4,2014-12-24 10:29:39,2014/12/24,NaN,Kempton park,WATER,leaking tap

In [11]:
waste_df.head()

         DateSubmitted date_created     town_name           DEFECT CATEGORY
0  2014-12-26 06:32:41   2014/12/26       SPRINGS            Other    WASTE
1  2014-12-26 09:32:01   2014/12/26      Primrose  Illegal dumping    WASTE
2  2014-12-26 09:47:38   2014/12/26      Boksburg            Other    WASTE
3  2014-12-26 11:07:12   2014/12/26  Kempton Park            Other    WASTE
4  2014-12-27 13:03:44   2014/12/27   Bedfordview            Other    WASTE

In [10]:
for df in dfs:
    df.dropna(axis=1, how='all', inplace=True)
    df.drop_duplicates(inplace=True)
    
    if count == 1:
        df['CATEGORY'] = 'WATER'
        df['DEFECT'] = None
        df.DEFECT = df.DEFECT.transform(lambda x: str(x).replace('None', water_defects[np.random.randint(0, 4)]))
    elif count == 2:
        df['CATEGORY'] = 'WASTE'
        df = change_defect_col_bame(df)
    elif count == 3:
        df['CATEGORY'] = 'SEWAGE'
        df['DEFECT'] = None
        df.DEFECT = df.DEFECT.transform(lambda x: str(x).replace('None', sewage_defects[np.random.randint(0, 3)]))
    elif count == 4:
        df['CATEGORY'] = 'ELECTRIC'
        df['DEFECT'] = None
        df.DEFECT = df.DEFECT.transform(lambda x: str(x).replace('None', electric_defects[np.random.randint(0, 3)]))
    elif count == 5:
        df['CATEGORY'] = 'TRAFFIC'
#        df.rename({'defect_type':'DEFECT'}, inplace=True)
        df = change_defect_col_bame(df)
    elif count == 6:
        df['CATEGORY'] = 'STREET'
#        df.rename({'defect_type':'DEFECT'}, inplace=True)
        df = change_defect_col_bame(df)
    else:
        df['CATEGORY'] = 'ROAD'
#        df.rename({'defect_type':'DEFECT'}, inplace=True)
        df = change_defect_col_bame(df)
    
    count += 1

In [ ]:
street_df.head()

In [ ]:
xls_writer = pd.ExcelWriter("../data/emm_quies_proc.xlsx", engine='xlsxwriter')

In [ ]:
count = 0
for df in dfs:
    df.to_excel(xls_writer, sheet_name=str(count), index=False, header=True)
    count += 1

In [ ]:
xls_writer.save()

In [ ]:
from bokeh.core.properties import value
from bokeh.io import show, output_file
from bokeh.plotting import figure

In [ ]:
output_file("visuals.html")

In [ ]:
street_df.head()

In [ ]:
pd.unique(street_df.DEFECT)

In [ ]:
street_df['month_submitted'] = street_df.DateSubmitted.transform(lambda x: str(x).split('-')[1])

In [ ]:
p = figure(x_range=pd.unique(list(street_df.month_submitted)), 
           plot_height=350, 
           title="Defect Type by Month", 
           toolbar_location=None, 
           tools="")

p.vbar_stack(list(pd.unique(street_df.DEFECT)), 
             x='fruits', 
             width=0.9, 
             source=street_df, legend=[value(x) for x in list(pd.unique(street_df.DEFECT))])

In [ ]:
p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.axis.minor_tick_line_color = None
p.outline_line_color = None
p.legend.location = "top_left"
p.legend.orientation = "horizontal"